In [ ]:
# Need to export date field for both ufo and Arizona population datasets

In [1]:
# Import our dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
# READ DATA UFO Sightings To load the dataset in a Pandas DataFrame
ufo_data_az = pd.read_csv("./Resources/ufo_data_cleaned4.csv")
ufo_data_az_df = ufo_data_az
ufo_data_az_df

,Row,summary,city,state,shape,duration,stats,text,posted,city_latitude,city_longitude,date_str,time_str
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.517800,-112.366700,4/17/2020,20:00:00
1,125,Crazy light show! ((Starlink satellites?)),Tucson,AZ,light,20 minutes,Occurred : 4/15/2020 20:30 (Entered as : 4/15...,Crazy light show! A series of lights eminating...,2020-06-25T00:00:00,32.259941,-110.927542,4/15/2020,20:30:00
2,134,Star looking ufo in sky starts to move then di...,Phoenix,AZ,other,5-7 minutes,Occurred : 4/12/2020 01:00 (Entered as : 04/1...,Star looking ufo in sky starts to move then di...,2020-06-25T00:00:00,33.535381,-112.049460,4/12/2020,1:00:00
3,145,"Saw a bright, star like object, very high up, ...",Tucson,AZ,circle,2 hours,Occurred : 3/29/2020 21:00 (Entered as : 03/2...,"Saw a bright, star like object, very high up, ...",2020-06-25T00:00:00,32.259941,-110.927542,3/29/2020,21:00:00
4,149,Strange shaped craft,Gilbert,AZ,other,3 minutes,Occurred : 12/13/2019 22:15 (Entered as : 12/...,strange shaped craft I went to my car to pick ...,2020-06-25T00:00:00,33.339601,-111.781265,12/13/2019,22:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3983,136848,Tonopah Arizona lights,Tonopah,AZ,fireball,1 minute,Occurred : 7/23/2020 19:30 (Entered as : 07/2...,Tonopah Arizona lights It was in the afternoon...,2020-08-06T00:00:00,33.577800,-113.023400,7/23/2020,19:30:00
3984,136866,MADAR Node 74,Show Low,AZ,MADAR_Node,NaN,Occurred : 6/12/2020 13:46 (Entered as : 06/1...,MADAR Node 74,2020-07-09T00:00:00,34.234662,-110.075197,6/12/2020,13:46:00
3985,136883,Tonopah Arizona lights,Tonopah,AZ,fireball,1 minute,Occurred : 7/23/2020 19:30 (Entered as : 07/2...,Tonopah Arizona lights It was in the afternoon...,2020-07-23T00:00:00,33.577800,-113.023400,7/23/2020,19:30:00
3986,136897,It was about 2:15am to 2:30am I look up in the...,Scottsdale,AZ,circle,15 min,Occurred : 7/8/2019 02:15 (Entered as : 07/08...,It was about 2:15am to 2:30am I look up in the...,2019-07-25T00:00:00,33.564138,-111.905083,7/8/2019,2:15:00
3987,136909,Ring Light UFO expanding in and out,Gilbert,AZ,circle,2 minutes,Occurred : 4/1/2019 23:00 (Entered as : 04/01...,Ring Light UFO expanding in and out I was taki...,2021-03-02T00:00:00,33.339601,-111.781265,4/1/2019,23:00:00

In [3]:
ufo_data_az_df.dtypes

Row                 int64
summary            object
city               object
state              object
shape              object
duration           object
stats              object
text               object
posted             object
city_latitude     float64
city_longitude    float64
date_str           object
time_str           object
dtype: object

In [4]:
# convert date to datestri
ufo_data_az_df["date_str"]

0        4/17/2020
1        4/15/2020
2        4/12/2020
3        3/29/2020
4       12/13/2019
           ...
3983     7/23/2020
3984     6/12/2020
3985     7/23/2020
3986      7/8/2019
3987      4/1/2019
Name: date_str, Length: 3988, dtype: object

In [ ]:
#split date 
ufo_data_az_df["date_str"].str.split("/", expand=True)

In [5]:
newcolumnlist = ["month", "day", "year"]

In [6]:
ufo_data_az_df[newcolumnlist] = ufo_data_az_df["date_str"].str.split("/", expand=True)

In [7]:
ufo_data_az_df.columns

Index(['Row', 'summary', 'city', 'state', 'shape', 'duration', 'stats', 'text',
       'posted', 'city_latitude', 'city_longitude', 'date_str', 'time_str',
       'month', 'day', 'year'],
      dtype='object')

In [8]:
ufo_data_az_df[newcolumnlist]

     month day  year
0        4  17  2020
1        4  15  2020
2        4  12  2020
3        3  29  2020
4       12  13  2019
...    ...  ..   ...
3983     7  23  2020
3984     6  12  2020
3985     7  23  2020
3986     7   8  2019
3987     4   1  2019

[3988 rows x 3 columns]

In [10]:
ufo_data_az_df

,Row,summary,city,state,shape,duration,stats,text,posted,city_latitude,city_longitude,date_str,time_str,month,day,year
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.517800,-112.366700,4/17/2020,20:00:00,4,17,2020
1,125,Crazy light show! ((Starlink satellites?)),Tucson,AZ,light,20 minutes,Occurred : 4/15/2020 20:30 (Entered as : 4/15...,Crazy light show! A series of lights eminating...,2020-06-25T00:00:00,32.259941,-110.927542,4/15/2020,20:30:00,4,15,2020
2,134,Star looking ufo in sky starts to move then di...,Phoenix,AZ,other,5-7 minutes,Occurred : 4/12/2020 01:00 (Entered as : 04/1...,Star looking ufo in sky starts to move then di...,2020-06-25T00:00:00,33.535381,-112.049460,4/12/2020,1:00:00,4,12,2020
3,145,"Saw a bright, star like object, very high up, ...",Tucson,AZ,circle,2 hours,Occurred : 3/29/2020 21:00 (Entered as : 03/2...,"Saw a bright, star like object, very high up, ...",2020-06-25T00:00:00,32.259941,-110.927542,3/29/2020,21:00:00,3,29,2020
4,149,Strange shaped craft,Gilbert,AZ,other,3 minutes,Occurred : 12/13/2019 22:15 (Entered as : 12/...,strange shaped craft I went to my car to pick ...,2020-06-25T00:00:00,33.339601,-111.781265,12/13/2019,22:15:00,12,13,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3983,136848,Tonopah Arizona lights,Tonopah,AZ,fireball,1 minute,Occurred : 7/23/2020 19:30 (Entered as : 07/2...,Tonopah Arizona lights It was in the afternoon...,2020-08-06T00:00:00,33.577800,-113.023400,7/23/2020,19:30:00,7,23,2020
3984,136866,MADAR Node 74,Show Low,AZ,MADAR_Node,NaN,Occurred : 6/12/2020 13:46 (Entered as : 06/1...,MADAR Node 74,2020-07-09T00:00:00,34.234662,-110.075197,6/12/2020,13:46:00,6,12,2020
3985,136883,Tonopah Arizona lights,Tonopah,AZ,fireball,1 minute,Occurred : 7/23/2020 19:30 (Entered as : 07/2...,Tonopah Arizona lights It was in the afternoon...,2020-07-23T00:00:00,33.577800,-113.023400,7/23/2020,19:30:00,7,23,2020
3986,136897,It was about 2:15am to 2:30am I look up in the...,Scottsdale,AZ,circle,15 min,Occurred : 7/8/2019 02:15 (Entered as : 07/08...,It was about 2:15am to 2:30am I look up in the...,2019-07-25T00:00:00,33.564138,-111.905083,7/8/2019,2:15:00,7,8,2019
3987,136909,Ring Light UFO expanding in and out,Gilbert,AZ,circle,2 minutes,Occurred : 4/1/2019 23:00 (Entered as : 04/01...,Ring Light UFO expanding in and out I was taki...,2021-03-02T00:00:00,33.339601,-111.781265,4/1/2019,23:00:00,4,1,2019

In [12]:
# converting to csv
ufo_data_az_df.to_csv('Resources/ufo_data_az_df1.csv')

In [13]:
# READ DATA Arizona Cities To load the dataset in a Pandas DataFrame
ufo_population_az = pd.read_csv("./Resources/Clean_City_PopulationGrowth.csv")
ufo_population_az_df = ufo_population_az
ufo_population_az_df

           City State  Year  Population      Date
0       Phoenix    AZ  2021     1640641  7/7/2021
1        Tucson    AZ  2021      547131  7/7/2021
2          Mesa    AZ  2021      517302  7/7/2021
3      Chandler    AZ  2021      283959  7/7/2021
4       Gilbert    AZ  2021      279810  7/7/2021
...         ...   ...   ...         ...       ...
1783   Williams    AZ  2019        3248  7/7/2019
1784  Winkelman    AZ  2019         351  7/7/2019
1785    Winslow    AZ  2019        9338  7/7/2019
1786  Youngtown    AZ  2019        6859  7/7/2019
1787       Yuma    AZ  2019       98285  7/7/2019

[1788 rows x 5 columns]

In [14]:
# convert date to datestri
ufo_population_az_df["Date"]

0       7/7/2021
1       7/7/2021
2       7/7/2021
3       7/7/2021
4       7/7/2021
          ...
1783    7/7/2019
1784    7/7/2019
1785    7/7/2019
1786    7/7/2019
1787    7/7/2019
Name: Date, Length: 1788, dtype: object

In [15]:
# New Columns to create
newcolumnlist1 = ["month", "day", "year"]

In [17]:
#Panda combine + split columns
ufo_population_az_df[newcolumnlist1] = ufo_population_az_df["Date"].str.split("/", expand=True)

In [18]:
ufo_population_az_df.columns

Index(['City', 'State', 'Year', 'Population', 'Date', 'month', 'day', 'year'], dtype='object')

In [19]:
ufo_population_az_df

           City State  Year  Population      Date month day  year
0       Phoenix    AZ  2021     1640641  7/7/2021     7   7  2021
1        Tucson    AZ  2021      547131  7/7/2021     7   7  2021
2          Mesa    AZ  2021      517302  7/7/2021     7   7  2021
3      Chandler    AZ  2021      283959  7/7/2021     7   7  2021
4       Gilbert    AZ  2021      279810  7/7/2021     7   7  2021
...         ...   ...   ...         ...       ...   ...  ..   ...
1783   Williams    AZ  2019        3248  7/7/2019     7   7  2019
1784  Winkelman    AZ  2019         351  7/7/2019     7   7  2019
1785    Winslow    AZ  2019        9338  7/7/2019     7   7  2019
1786  Youngtown    AZ  2019        6859  7/7/2019     7   7  2019
1787       Yuma    AZ  2019       98285  7/7/2019     7   7  2019

[1788 rows x 8 columns]

In [20]:
ufo_population_az_df.to_csv('Resources/ufo_population_az_df.csv')